*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.bg-color-1{
    background-color:#717fe0;
}

.bg-color-2{
    background-color:#333;
}

.clickable{
    cursor:pointer;
}

.list-group-item.active{
    background-color:#333;
    border-color:#333;
}

.card-img-top{
    height:300px;
}

